.navbar{
    background-color: #000000fc;
    background-position: center center;
    background-size: cover;
   }
   
   .navbar-brand {
    font-size: 2rem;
    font-family: serif;
    font-weight: bold;
    color: blue;
   }
   
/* HOME PAGE  SECTION */

#testimonials {
    padding:110px 22rem;
    text-align: center;
    height: 400px;
   }
   
   .btn{
       margin: 20px 20px;
   }
   
   .sign-btn{
       width: 250px;
       height: 60px;
   }
   
   .main{
     background-position: center center;
     background-size: cover;
   }
   .main-content h1 {
      color: #fff;
      font-size: 45px;
      /*font-family: serif;*/
      font-weight:300;
   }
   
   .main-content p {
   text-align: center;
   color: #fff;
   }

   /*WHY CHOOSE LEARNEST*/

.wcl{
	background-color: #eeeeee;
	padding: 120px;
	height: 500px;
}

.wcl .cl-1 p{
	color: #000;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.wcl .cl-1 h1{
	color: #000;
	text-align: left;
	font-size: 45px;
	font-weight: 300;

}
 
 .cl-2 p{
 	padding:30px 50px 0px;
 	text-align: center;
 	color: #000;
 	font-size: 16px;
 	font-weight: 500;
 }

/*WHY CHOOSE LEARNEST card*/

.wcl-card{
	margin-top:-90px; 
	margin-bottom: 100px;
}
        
.wcl-card .card-img-top{
	width: 80px;
} 

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*there is more for you*/


.timfy{
	background-image:linear-gradient(#000000fc,#00000057), url("../image/section-bg.jpg");
	padding: 120px;
	background-position: center center;
	background-size: cover;
}

.timfy .cl-1 p{
	color: #ffff;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.timfy .cl-1 h1{
	color: #ffff;
	text-align: left;
	font-size: 45px;
	font-weight: 300;

}
 
.timfy .cl-2 p{
 	padding:30px 50px 0px;
 	text-align: center;
 	color: #ffff;
 	font-size: 16px;
 	font-weight: 500;
 }

  /*vertical-card*/

  .vl-card{
    padding: 100px;
    background-color: #eeeeee;
}

.vl-card .card{
   flex-direction: row;
}

.vl-card  .card-img-top{
   width: 100px;
   height: 200px
}


   /*footer*/

footer{
   padding: 90px;
}

.links{
   margin: 10px;
}

.links h4{
   font-size: 16px;
   color: #5f5f5f;
}

ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
}

ul li{
    width: 100%;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 500;

}

.fcl-1 p{
   font-size: 18px;
   font-weight: 600px;
   display: inline-block;
   color: #393939;
   margin-bottom:20px;
}

.fa {
 padding: 10px;
 font-size: 15px;
 width: 35px;
 text-align: center;
 text-decoration: none;
 margin: 5px 2px;
 border-radius:80px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
 background: #3B5998;
 color: white;
}

.fa-twitter {
 background: #55ACEE;
 color: white;
}

.fa-linkedin {
 background: #007bb5;
 color: white;
}


.fa-instagram {
 background: #125688;
 color: white;
}


.f-last{
   background-color: #c7c7c7;
   padding: 40px 10px;
}

.f-last span{
   font-size: 11px;
   padding: 10px;
}

.f-last p{
   font-size: 18px;
   font-weight:800px;
}

.cl-r{
text-align: right;
}